@model FamilyTree.ViewModels.LoginVM

@{
    Layout = "_Layout";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">   
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <div class="row justify-content-center">
                        <div class="col-4">
                            @Html.LabelFor(vm => vm.Email, "Email")
                            @Html.TextBoxFor(vm => vm.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">  
                            @Html.LabelFor(vm => vm.Password, "Password")
                            @Html.PasswordFor(vm => vm.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            @Html.LabelFor(vm => vm.RememberMe, "Remember Me", new { @class = "form-check-label" })
                            @Html.CheckBoxFor(vm => vm.RememberMe, new { @class = "form-check-input" })
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <hr/>
                        <div class="col-4">
                            <button type="submit" class="btn brown-button">Log in</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-2">
                @{
                    if (!Model.ExternalLogins.Any())
                    {
                        <div>No external logins configured</div>
                    }
                    else
                    {
                        @using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post))
                        {
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn brown-button"
                                        name="provider" value="@provider.Name"
                                        title="Login using your @provider.DisplayName account">
                                    @provider.DisplayName
                                </button>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</main>