@model FamilyTree.ViewModels.RegisterVM

@{
    Layout = "_Layout";
}

<main>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">   
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        <div class="row justify-content-center">
                            <div class="col-4">
                                @Html.LabelFor(vm => vm.Email, "Email")
                                @Html.TextBoxFor(vm => vm.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-4">  
                                @Html.LabelFor(vm => vm.Password, "Password")
                                @Html.PasswordFor(vm => vm.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-4">  
                                @Html.LabelFor(vm => vm.PasswordConfirm, "Confirm Password")
                                @Html.PasswordFor(vm => vm.PasswordConfirm, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <hr/>
                                <button type="submit" class="btn brown-button">Sign up</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>