@using FTEntities.IdentityModels.User
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager


<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/common.css"/>
</head>
<body class="d-flex flex-column h-100 main-background">
<header>
    <nav class="navbar navbar-expand-md fixed-top shadow window-background">
        <a class="navbar-brand px-4" href="~/Home/Index">
            <h2>FamilyTree</h2>
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="nav ">
                @if (!SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="btn brown-button" href="~/Account/Register">Sign up</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="btn brown-button" href="~/Account/Login">Log in</a>
                    </li>
                }
                else
                {
                    <li class="nav-item px-4">
                        <a class="btn brown-button" href="~/Account/Logout">Log out</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>
<main class="flex-shrink-0 mt-5">
    <div class="container-fluid mt-5">
        <div class="row ">
            @if (IsSectionDefined("Sidebar") || IsSectionDefined("Slidebar"))
            {
                <div class="col-sm-2">
                    <div class="p-3 shadow" style="background-color: rgba(241, 237, 232, 1);">
                        @RenderSection("Sidebar", false)
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="p-3 shadow window-background">
                                @RenderSection("Slidebr", false)
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="p-3 shadow window-background">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-12">
                    <div class="p-3 shadow window-background">
                        @RenderBody()
                    </div>
                </div>
            }
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3 shadow-lg window-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="text-center p-3">
                    © 2022 - FamilyTree:
                    <a class="text-black" href="https://github.com/SkarpetkiZKavaj/FamilyTree">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/jquery/dist/jquery-3.6.1.min.js"></script>
</body>
</html>