@using FTEntities.IdentityModels.User
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="h-100" style="background-color: rgba(208, 193, 172, 0.15);">
<nav class="navbar navbar-expand-lg flex-column flex-md-row shadow" style="background-color: rgba(208, 193, 172, 0.15);">
    <a class="navbar-brand px-4" href="~/Home/Index">
        <h2>FamilyTree</h2>
    </a>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="nav ">
            @if (!SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="btn" href="~/Account/Register" style="background-color: rgba(95, 50, 0, 1); color: rgba(255, 255, 255, 1);">Sign up</a>
                </li>
                <li class="nav-item px-4">
                    <a class="btn" href="~/Account/Login" style="background-color: rgba(95, 50, 0, 1); color: rgba(255, 255, 255, 1);">Log in</a>
                </li>
            }
            else
            {
                <li class="nav-item px-4">
                    <a class="btn" href="~/Account/Logout" style="background-color: rgba(95, 50, 0, 1); color: rgba(255, 255, 255, 1);">Log out</a>
                </li>
            }
        </ul>
    </div>
</nav>
<hr/>
<section>
    <div class="container-fluid">
        <div class="row">
            @if (IsSectionDefined("Sidebar") || IsSectionDefined("Slidebar"))
            {
                <div class="col-sm-2">
                    <div class="p-3 shadow" style="background-color: rgba(208, 193, 172, 0.15);">
                        @RenderSection("Sidebar", false)
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="p-3 shadow" style="background-color: rgba(208, 193, 172, 0.15);">
                                @RenderSection("Slidebr", false)
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="p-3 shadow" style="background-color: rgba(208, 193, 172, 0.15);">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-12">
                    <div class="p-3 shadow" style="background-color: rgba(208, 193, 172, 0.15);">
                        @RenderBody()
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<hr/>
<footer class="footer shadow-lg" style="background-color: rgba(208, 193, 172, 0.15);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="text-center p-3">
                    © 2022 - FamilyTree:
                    <a class="text-black" href="https://github.com/SkarpetkiZKavaj/FamilyTree">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>