@model PersonVM

@{
    Layout = "_Layout";
}

@section Sidebar
{
  @await Component.InvokeAsync("Sidebar")
}
 
@section Slidebr
{
  @await Component.InvokeAsync("Slidebar")
}

<!DOCTYPE html>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">   
                @using (Html.BeginForm("ChangeInformation", "Description", new { personId = Model.Id }, FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-6">
                            @Html.LabelFor(m => m.FirstName, "First name")
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">  
                            @Html.LabelFor(m => m.LastName, "Last name")
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            @Html.LabelFor(m => m.Age, "Age")
                            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            @Html.LabelFor(m => m.Description.History, "History")
                            @Html.TextAreaFor(m => m.Description.History, 10, 10, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <hr/>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn brown-button">Save</button>
                                </div>
                                <div class="col-6">
                                    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn brown-button" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>
